[include klicky-probe.cfg]
[include macros.cfg]
[include pa.cfg]
[include speed.cfg]
[include neopixel.cfg]
#[include pis.cfg]
#[include adxl345.cfg]
[include is.cfg]
[include belt-tension.cfg]
[include bed_mesh.cfg]
[include probe.cfg]
[save_variables]
filename: ~/printer_data/config/.variables.stb

[virtual_sdcard]
path: ~/printer_data/gcodes

[mcu]
##	Obtain mcu value by "ls -l /dev/serial/by-id/" 
serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127108FD8-if00
#restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 6000
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 6.0

[stepper_x]
step_pin: gpio11
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: gpio10 # Check motor direction in link above. If inverted, add a ! before gpio10
enable_pin: !gpio12
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200 # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: ^gpio4 
position_endstop: 118
position_max: 118
homing_speed: 50 # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 0
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: gpio6
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: gpio5 # Check motor direction in link above. If inverted, add a ! before gpio5
enable_pin: !gpio7
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200 # Set to 400 for 0.9° degree stepper motor, 200 is for 1.8° stepper motors
endstop_pin: ^gpio3
position_endstop: 118
position_max: 118
homing_speed: 50 # Can be increased after initial setup, Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 2
interpolate: False
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 9999

[stepper_z]
step_pin: gpio19
dir_pin: !gpio28 # Remove the ! before gpio28 if motor direction is inverted.
enable_pin: !gpio2
rotation_distance: 8 # For T8x8 integrated lead screw
microsteps: 16
endstop_pin: probe:z_virtual_endstop
#position_endstop: -0.410
position_max: 120
position_min: -1.5
homing_speed: 10
second_homing_speed: 3.0
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 1
interpolate: False
## For OMC (StepperOnline) 17LS13-0404E-200G 0.4A 
#run_current: 0.2
## For LDO-42STH25-1004CL200E 1.0A
run_current: 0.9
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
step_pin: gpio14
dir_pin: gpio13 # Add ! if moving opposite direction
enable_pin: !gpio15
rotation_distance: 22.225371 #calibrate this value for your individual printer!!
gear_ratio: 50:10
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: gpio23
sensor_type: ATC Semitec 104GT-2
sensor_pin: gpio27
control: pid
pid_Kp: 22.655
pid_Ki: 1.007
pid_Kd: 127.433
min_temp: 0
max_temp: 270
min_extrude_temp: 0
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500

[tmc2209 extruder]
uart_pin: gpio9
tx_pin: gpio8
uart_address: 3
interpolate: False
## For OMC (StepperOnline) 14HR07-1004VRN 1A 0.9°
#run_current: 0.5 # for OMC 14HR07-1004VRN rated at 1A
## For LDO LDO 36STH17-1004AHG 1A 1.8° 
#run_current: 0.3 # for LDO 36STH17-1004AHG
## For LDO LDO 36STH20-1004AHG 1A 1.8° 
run_current: 0.6 # for LDO 36STH20-1004AHG
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
heater_pin: gpio21
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: ATC Semitec 104GT-2
sensor_pin: gpio26
smooth_time: 3.0
max_power: 0.4 # Only needed for 100w pads
min_temp: 0
max_temp: 120
control: pid
pid_Kp: 35.329
pid_Ki: 0.736
pid_Kd: 423.950
sensor_pin: gpio26
smooth_time: 3.0

[heater_fan hotend_fan]
pin: gpio18
max_power: 1.0
#kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 1.0 # You can't PWM the delta fan unless using blue wire

[fan]
pin: gpio17
max_power: 1.0
kick_start_time: 0.5 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

[idle_timeout]
timeout: 36000

#[servo KlickSwipe]
## See: https://www.klipper3d.org/Config_Reference.html#servo
#pin: gpio29
#initial_angle: 0
#maximum_servo_angle: 90
